@import url('https://fonts.google.com/specimen/Spectral?category=Serif');

body {
  font-family: "Spectral", "Cardo", "Noto Serif", serif;
  font size: 18px;
  color: #222;
  line-height: 1.5;
}

a,
a:link {
  color: rgb(14,31,65);
}

a:visited {
  color: #555; /* contrast ratio: 7.45:1 */
}

a:hover {
  color: rgb(201,53,68);
}

a:active {
  color: rgb(245,188,78);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Cinzel;
}

header {
  color: rgb(87,84,192);
}

nav a {
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 960px;
  margin: 0 auto;
}

section {
  background-color: rbg(69,105,159);
  padding: 20px;
}

ul {
  background-color: rgb(255, 252, 112);
  padding: 20px
}

#introduction {
  background-color: rgba(69,105,159,0.15);
  border: 1px dashed rgb(69,105,159);
}
