@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

body {
  font-family: "Sono", "Cardo", "Noto Serif", sans-serif;
  font size: 20px;
  color: #222;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
  font-size: 30px;
  color: hsl(242, 46%, 54%);
}


a,
a:link {
  color: rgb(14,31,65);
}

a:visited {
  color: #555;
}

a:hover {
  color: rgb(201,53,68);
}

a:active {
  color: rgb(245,188,78);
}

header {
  color: rgb(68,121,235);
}

nav {
    box-sizing: border-box;
    background-color: rgb(68,121,235,0.5);
    width: 300px;
    content: 300px;
    padding: 8px, 8px;
    border: 2px solid #222;
    total: 320px;
   }



main {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 15px;
  max-width: 2060px;
  margin: 0 auto;
}

section {
  background-color: rgb(255, 252, 112, 0.5);
  padding: 10px;
  border: 2px solid #5754c0;
  margin: 2px auto;
}
